@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title">Mail Sentbox</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Mail</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mail Inbox</li>
            </ol>
        </div>
    </div>
    <!-- End Breadcrumb-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <a href="mail-compose.html" class="btn btn-danger btn-block">New Mail</a>
                            @await Component.InvokeAsync("_LeftMenuBarComponentPartial")
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="row">
                                @await Component.InvokeAsync("_ToolBarComponentPartial")
                                @await Component.InvokeAsync("_SearchMailComponentPartial")
                            </div>
                            <div class="card mt-3 shadow-none">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="icheck-material-primary my-0">
                                                            <input id="checkbox1" type="checkbox" checked="checked">
                                                            <label for="checkbox1">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="mail-rateing">
                                                        <i class="fa fa-star"></i>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html">Google Inc</a>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html"><i class="fa fa-circle text-info mr-2"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing</a>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-paperclip"></i>
                                                    </td>
                                                    <td class="text-right">
                                                        08:23 AM
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="icheck-material-primary my-0">
                                                            <input id="checkbox2" type="checkbox" checked="checked">
                                                            <label for="checkbox2">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="mail-rateing">
                                                        <i class="fa fa-star text-warning"></i>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html">John Deo</a>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html"><i class="fa fa-circle text-success mr-2"></i>Hi Bro, How are you?</a>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td class="text-right">
                                                        07:03 AM
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td>
                                                        <div class="icheck-material-primary my-0">
                                                            <input id="checkbox3" type="checkbox">
                                                            <label for="checkbox3">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="mail-rateing">
                                                        <i class="fa fa-star"></i>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html">Director</a>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html"><i class="fa fa-circle text-blue mr-2"></i>Dolor sit amet, consectetuer adipiscing</a>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-paperclip"></i>
                                                    </td>
                                                    <td class="text-right">
                                                        03:00 AM
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="icheck-material-primary my-0">
                                                            <input id="checkbox4" type="checkbox" checked="checked">
                                                            <label for="checkbox4">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="mail-rateing">
                                                        <i class="fa fa-star text-warning"></i>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html">Manager</a>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html"><i class="fa fa-circle text-warning mr-2"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-paperclip"></i>
                                                    </td>
                                                    <td class="text-right">
                                                        20 Jan
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="icheck-material-primary my-0">
                                                            <input id="checkbox5" type="checkbox">
                                                            <label for="checkbox5">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="mail-rateing">
                                                        <i class="fa fa-star text-warning"></i>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html">Facebook</a>
                                                    </td>
                                                    <td>
                                                        <a href="mail-read.html">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td class="text-right">
                                                        20 Jan
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-7">
                                            Showing 1 - 25 of 300
                                        </div>
                                        <div class="col-5">
                                            <div class="btn-group float-right">
                                                <button type="button" class="btn btn-light waves-effect"><i class="fa fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-light waves-effect"><i class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card body -->
                            </div>
                            <!-- card -->
                        </div>
                        <!-- end Col-9 -->
                    </div>
                    <!-- End row -->
                </div>
            </div>
        </div>
    </div>
    <!-- End row -->
    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
</div>
<!-- End container-fluid-->