<li>
    <a href="" class="waves-effect">
        <i class="zmdi zmdi-email"></i>
        <span>Mailbox</span>
        <small class="badge float-right badge-warning">@ViewBag.UnReadMessagesCount</small>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="/Inbox/Index/"><i class="zmdi zmdi-dot-circle-alt"></i> Inbox</a></li>
        <li><a href="/SentMail/Index/"><i class="zmdi zmdi-dot-circle-alt"></i> Sentbox</a></li>
        <li><a href="/Compose/Index/"><i class="zmdi zmdi-dot-circle-alt"></i> Compose</a></li>
    </ul>
</li>