<li>
    <a href="" class="waves-effect">
        <i class="zmdi zmdi-email"></i>
        <span>Mailbox</span>
        <small class="badge float-right badge-warning">12</small>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="mail-inbox.html"><i class="zmdi zmdi-dot-circle-alt"></i> Inbox</a></li>
        <li><a href="mail-compose.html"><i class="zmdi zmdi-dot-circle-alt"></i> Compose</a></li>
        <li><a href="mail-read.html"><i class="zmdi zmdi-dot-circle-alt"></i> Read Mail</a></li>
    </ul>
</li>