@model UpdateUserDto
@{
    ViewData["Title"] = "Update User";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title">Update Profile</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <div class="card-title">User Information</div>
                    <hr>
                    <form method="post" action="/Register/UpdateUser">
                        <div class="form-group row">
                            <label for="input-21" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="hidden" class="form-control" id="input-21" placeholder="Enter Your First Name" asp-for="Id">

                                <input type="text" class="form-control" id="input-21" placeholder="Enter Your First Name" asp-for="FirstName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-21" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-21" placeholder="Enter Your Last Name" asp-for="LastName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-21" class="col-sm-2 col-form-label">User Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-21" placeholder="Enter Your Last Name" asp-for="UserName" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-21" class="col-sm-2 col-form-label">Image Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-21" placeholder="Enter Your Image Url" asp-for="Image">
                            </div>
                        </div>                      
                        <div class="form-group row">
                            <label for="input-23" class="col-sm-2 col-form-label">Mobile</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-23" placeholder="Enter Your Mobile Number" asp-for="PhoneNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-22" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-22" placeholder="Enter Your Email Address" asp-for="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-24" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-24" placeholder="Enter Password" asp-for="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-25" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-25" placeholder="Confirm Password" asp-for="ConfirmPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-25" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="input-25" rows="3" placeholder="Enter Your Description" asp-for="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <div class="icheck-material-primary">
                                    <input type="checkbox" id="user-checkbox5" checked="" />
                                    <label for="user-checkbox5">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary px-5"><i class="icon-lock"></i> Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay toggle-menu"></div>
</div>
