<div class="card mt-3 shadow-none">
    <div class="list-group shadow-none">
        <a href="/Inbox/Index/" class="list-group-item active"><i class="fa fa-inbox mr-2"></i>Inbox <b>(@ViewBag.UnReadMessagesCount)</b></a>
        <a href="javascript:void();" class="list-group-item"><i class="fa fa-star-o mr-2"></i>Starred</a>
        <a href="javascript:void();" class="list-group-item"><i class="fa fa-file-text-o mr-2"></i>Draft <b>(10)</b></a>
        <a href="/SentMail/Index/" class="list-group-item"><i class="fa fa-paper-plane-o mr-2"></i>Sent Mail</a>
        <a href="javascript:void();" class="list-group-item"><i class="fa fa-trash-o mr-2"></i>Trash <b>(320)</b></a>
        <a href="javascript:void();" class="list-group-item"><i class="fa fa-bookmark mr-2"></i>Important <b>(5)</b></a>
        <a href="javascript:void();" class="list-group-item">Labels</a>
        <a href="javascript:void();" class="list-group-item"><span class="fa fa-circle text-info float-right"></span>Work</a>
        <a href="javascript:void();" class="list-group-item"><span class="fa fa-circle text-success float-right"></span>Design</a>
        <a href="javascript:void();" class="list-group-item"><span class="fa fa-circle text-warning float-right"></span>Family</a>
        <a href="javascript:void();" class="list-group-item"><span class="fa fa-circle text-white float-right"></span>Friends</a>
        <a href="javascript:void();" class="list-group-item"><span class="fa fa-circle text-danger float-right"></span>Office</a>
    </div>
</div>