<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>green mailing</title>
    <!--favicon-->
    <link rel="icon" href="~/template/vertical-layout/assets/images/favicon.ico" type="image/x-icon" />
    <!-- Vector CSS -->
    <link href="~/template/vertical-layout/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/template/vertical-layout/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/template/vertical-layout/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/template/vertical-layout/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/template/vertical-layout/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/template/vertical-layout/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/template/vertical-layout/assets/css/app-style.css" rel="stylesheet" />
    <!-- skins CSS-->
    <link href="~/template/vertical-layout/assets/css/skins.css" rel="stylesheet" />
</head>