@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title">Calendar</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
                <li class="breadcrumb-item"><a href="javaScript:void();">Calendar</a></li>
                <li class="breadcrumb-item active" aria-current="page">Calendar</li>
            </ol>
        </div>
    </div>
    <div id='calendar'></div>
    <div class="overlay toggle-menu"></div>
</div>