<div class="user-details">
    <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
        <div class="avatar"><img class="mr-3 side-user-img" src="https://treegreenmd.com/wp-content/uploads/2023/09/Tree-Green-Circle-Image-2.png" alt="user avatar"></div>
        <div class="media-body">
            <h6 class="side-user-name">Yahya John</h6>
        </div>
    </div>
    <div id="user-dropdown" class="collapse">
        <ul class="user-setting-menu">
            <li><a href="javaScript:void();"><i class="icon-user"></i>  My Profile</a></li>
            <li><a href="javaScript:void();"><i class="icon-settings"></i> Setting</a></li>
            <li><a href="javaScript:void();"><i class="icon-power"></i> Logout</a></li>
        </ul>
    </div>
</div>