<div class="col-lg-4">
    <div class="position-relative has-icon-right">
        <input type="text" class="form-control" placeholder="search mail">
        <div class="form-control-position">
            <i class="fa fa-search"></i>
        </div>
    </div>
</div>