<li class="nav-item">
    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="https://treegreenmd.com/wp-content/uploads/2023/09/Tree-Green-Circle-Image-2.png" class="img-circle" alt="user avatar"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-item user-details">
            <a href="javaScript:void();">
                <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3" src="https://treegreenmd.com/wp-content/uploads/2023/09/Tree-Green-Circle-Image-2.png" alt="user avatar"></div>
                    <div class="media-body">
                        <h6 class="mt-2 user-title">@ViewBag.UserNameA</h6>
                        <p class="user-subtitle">@ViewBag.EmailA</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-power mr-2"></i> <a href="/LogOut/Index" style="color:#505050;">Logout</a></li>
    </ul>
</li>