<ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
        <a class="nav-link toggle-menu" href="javascript:void();">
            <i class="icon-menu menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <form class="search-bar">
            <input type="text" class="form-control" placeholder="Enter keywords">
            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
        </form>
    </li>
</ul>