<li>
    <a href="/Calender/Index" class="waves-effect">
        <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
        <small class="badge float-right badge-light">New</small>
    </a>
</li>